# Dépendances
/node_modules
/.pnp
.pnp.js

# Build & production
/dist
/build
/.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'IDE/éditeurs
/.idea
/.vscode
*.swp
*.swo
.project
.classpath
.settings/
*.sublime-workspace

# Fichiers de bundle
*.tgz
*.zip
*.crx
private-key.pem

# Autres
.tmp
tmp/ 
